services:
  wordpress:
    image: wordpress:latest
    container_name: wordpress
    restart: always
    ports:
      - "80:80"
    environment:
      WORDPRESS_DB_HOST: db-wordpress.cx8iueiqwbpo.us-east-1.rds.amazonaws.com:3306
      WORDPRESS_DB_USER: admin
      WORDPRESS_DB_PASSWORD: MyU7GjNnWPYr24PkJazA
      WORDPRESS_DB_NAME: wordpress
    volumes:
      - /data:/var/www/html
